@model Models.ViewModel.AmbulatoriosViewModel
@{
    ViewData["Title"] = "Ambulatorios";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Salvar" asp-controller="Ambulatorios" method="post">
    <input asp-for="nroa" type="hidden">
    <div class="form-group">
        <label asp-for="nroa"></label>
        <input asp-for="nroa" class="form-control">
        <span asp-validation-for="nroa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="andar"></label>
        <input asp-for="andar" class="form-control">
        <span asp-validation-for="andar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="capacidade"></label>
        <input asp-for="capacidade" class="form-control">
        <span asp-validation-for="capacidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

